# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\SEBASTIAN MARTINEZ\OneDrive\Escritorio\Archivos Felipe\Programacion 3\SocketAsignarTurnos\Client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
